.swapItemsChild {
  width: 45px;
  height: 45px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-teal);
}
.materialSymbolsswapCallsIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 0 !important;
  top: 11px;
  left: 10px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.loremIpsumDolor,
.swap {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 22px;
  font-weight: 700;
}
.swap {
  display: inline-block;
  min-width: 45px;
}
.loremIpsumDolor {
  margin: 0;
  align-self: stretch;
  font-size: var(--font-size-base);
  color: var(--greytext);
}
.swapItems {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-43xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-base);
  min-width: 240px;
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--white);
  font-family: var(--font-sarabun);
}
@media screen and (max-width: 450px) {
  .swap {
    font-size: var(--font-size-base);
    line-height: 18px;
  }
}
